<!doctype html>
<html>
<head>
    <title>sID Social Identity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/icons/logo.ico"/>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body style="padding-right:0px; padding-left:0px;">
<!-- Navigation -->
<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom:0" id="landingnavbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"
             style="background-color: rgba(255,255,255,.15); color: rgba(255,255,255,.15); background: transparent; margin-top: 10px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">sID Social Identity</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#home"></a>
                </li>
                <!-- <li>
                <a class="page-scroll" href="#home" style="padding: 7px 20px;">Home</a>
                </li> -->
                <!--<li>-->
                <!--<a class="page-scroll" href="#platforms">Platforms</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="page-scroll" href="#progress">Progress</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="page-scroll" href="#contactus">Contact</a>-->
                <!--</li>-->
                <!-- <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign Out </a></li> -->
                <li style="margin-right: 20px; margin-top: 10px; ">
                    <a class="page-scroll" href="/getAllOrganizations"><span class="glyphicon glyphicon-th-list"></span>
                        Registered Organizations </a>
                </li>
                <% if (user) { %>
                <li style="margin-right: 20px; margin-top: 10px; ">
                    <a class="page-scroll" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign Out </a>
                </li>
                <% } else { %>
                <li style="margin-right: 20px; margin-top: 10px; ">
                    <a class="page-scroll" href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign Up </a>
                </li>
                <li style="margin-right: 20px; margin-top: 10px; ">
                    <a class="page-scroll" href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In </a>
                </li>
                <% } %>

            </ul>
            <div class="col-xs-12 col-sm-5 col-md-5 pull-left" style="margin-top: 10px;">
                <form class="navbar-form" role="search" action="/overview" method="post" id="sidusersearchform">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" name="name" placeholder="Search sID" id="sidusersearch">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- <div id="sidusersearch">
                  <input class="typeahead" type="text" placeholder="Search sID">
                </div> -->
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel panel-header" style="border-radius: 4px 4px 0px 0px">
                        <% if(orguser.orgid){ %>
                        <img src="/img/organizations/<%= orguser.orgid %>/logo.png" id="homepage_fb_pic">
                        <% } %>
                    </div>
                    <div class="panel-body">
                        <!-- check if the user has this token (is the user authenticated with this social account) -->
                        <% if (orguser.userDetails.organization) { %>
                        <p>
                            <strong><%= orguser.userDetails.organization %></strong><br>
                            <%= orguser.userDetails.email %><br><br>
                            <% if(orguser.userDetails.description){ %>
                            <%= orguser.userDetails.description %><br>
                            <% }else{ %>
                            Organization description not available<br>
                            <% } %>
                            <% if(orguser.orgid){ %>
                            <br><br><%= orguser.orgid %><br>
                            <% }else{ %>
                            <br><br>Organization Id not available<br>
                            <% } %>
                            <% if(orguser.userDetails.website){ %>
                            <br><br><%= orguser.userDetails.website %>
                            <% }else{ %>
                            <br><br>Website info not available<br>
                            <% } %>
                        </p>
                        <% if(user && user.userDetails.facebook && user.userDetails.facebook.token && user.userDetails.facebook.uid){ %>
                        <div class="row">
                            <div class="btn-group btn-group-justified" id="requestMembershipButton">
                                <form id="membershipRequestForm" method="post"
                                      action="/rate/facebook/requestMembership">
                                    <input type="hidden" name="targetid" value="<%= orguser.orgid %>"/>
                                    <input type="hidden" name="myid" value="<%= user.userDetails.facebook.uid %>"/>
                                    <button type="submit" form="membershipRequestForm" value="Submit"
                                            class="btn btn-primary" style="width: 100%">Request Membership
                                    </button>
                                </form>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">

            <div class="panel panel-default">
                <div class="panel-heading"
                     style="padding: 10px; font-size: 40px; text-align: center; background-color: #0084B4; color: #fff; border-radius: 4px 4px 0px 0px;;">
                    Accepted Members
                </div>

                <div class="panel-body">
                    <div class="members-contentarea">
                        <div class="members-contentarea">
                            <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0;">
                                <div class="members-contentarea-leftPanel"></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0; padding-right: 0;">
                                <div class="members-contentarea-rightPanel"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
</div>

<script type="text/javascript">
    $('#membershipRequestForm').submit(function (e) {
        e.preventDefault();
        var url = $(this).closest('form').attr('action'),
                data = $(this).closest('form').serialize();
        $.ajax({
            url: url,
            type: 'post',
            data: data,
            success: function () {
                //whatever you wanna do after the form is successfully submitted
                location.reload();
            }
        });
    });
</script>

<script id="members-template" type="x-handlebars-template">
    {{#members}}
    <div class="panel panel-default">
        <div class="panel-body" style="margin:5px; padding: 0px;">
            <img src="https://graph.facebook.com/v2.3/{{fbid}}/picture?width=50&height=50">
            <a href="https://facebook.com/{{fbid}}" target="_blank"><strong>{{username}}</strong></a><br>
        </div>
    </div>
    {{/members}}
</script>

<script type="text/javascript">
    $(function () {
        var orguser = <%-JSON.stringify(orguser)%>;

        <% if (user.userDetails.facebook) { %>
        console.log('user found');

        var user = <%-JSON.stringify(user)%>;

        $.post("/rate/facebook/requestMembership",
                {
                    myid: user.userDetails.facebook.uid,
                    targetid: orguser.orgid
                },
                function (data, status) {
                    if (data.errorCode == 1) {
                        $("#requestMembershipButton").html("<a class='btn btn-primary'>Already a member</a>");
                    }
                    if (data.errorCode == 2) {
                        $("#requestMembershipButton").html("<a class='btn btn-primary'>Already requested membership</a>");
                    }
                });
        <% } else { %>
        console.log('user not found');
        <% }  %>

        // console.log(JSON.stringify(user, null, "\t"));

        var theTemplateScript = $("#members-template").html();

        var theTemplate = Handlebars.compile(theTemplateScript);

        var leftPanel = new Object();
        var rightPanel = new Object();
        leftPanel.members = [];
        rightPanel.members = [];

        for (var i = 0; i < orguser.members.length; i++) {
            if (i % 2 == 0) {
                leftPanel.members.push(orguser.members[i]);
            }
            else {
                rightPanel.members.push(orguser.members[i]);
            }
        }

        $(".members-contentarea-leftPanel").append(theTemplate(leftPanel));
        $(".members-contentarea-rightPanel").append(theTemplate(rightPanel));
    })
</script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js'></script>
<script src="/scripts/angular-validator-app.js"></script>
<script src="/scripts/angular-validator.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="scripts/bloodhound.js"></script>
<script type="text/javascript" src="scripts/search.js"></script>
</body>
</html>
