<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body style="padding-right:0px; padding-left:0px">
<% include ../partials/navbar %>
<div class="container">

    <% if (errorMessage.length > 0) { %>
    <div class="alert alert-danger text-center"><%= errorMessage %></div>
    <% }else if (successMessage.length > 0){ %>
    <div class="alert alert-success text-center"><%= successMessage %></div>
    <% } %>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <!--  <strong>Name</strong>: <%= user.userDetails.local.firstname %> <%= user.userDetails.local.lastname %>
    <br>-->

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div>
            <div class="well col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.userDetails.local.email) { %>
                <p>
                    <strong>ID</strong>: <%= user._id %><br>
                    <strong>Name</strong>: <%= user.userDetails.local.firstname %> <%= user.userDetails.local.lastname %>
                    <br>
                    <strong>Email</strong>: <%= user.userDetails.local.email %><br>
                    <strong>Member Since</strong>: <%= user.userDetails.created %><br>
                    <strong>Password</strong>: <%= user.userDetails.local.password %>

                </p>
                <hr>
                <!-- Trigger the modal with a button -->
                <div align="center">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Change Password
                    </button>
                </div>

                <!-- Modal -->
                <div id="myModal" class="modal fade bs-example-modal-xs" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xs">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Change Password</h4>
                            </div>

                            <div class="modal-body">


                                <!-- LOGIN FORM -->
                                <div ng-app="angular-validator-demo" ng-controller="DemoCtrl">


                                    <form action="/changepassword" method="post" name="myForm"
                                          class="form-horizontal"
                                          novalidate angular-validator>
                                        <div class="form-group">
                                            <label>Old Password</label>
                                            <input type="password"
                                                   name="oldpassword"
                                                   class="form-control"
                                                   ng-model="form.oldpassword"
                                                   invalid-message="passwordValidator(form.password)"
                                                   validate-on="dirty"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password"
                                                   name="password"
                                                   class="form-control"
                                                   ng-model="form.password"
                                                   invalid-message="passwordValidator(form.password)"
                                                   validate-on="dirty"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password"
                                                   name="confirmPassword"
                                                   class="form-control"
                                                   ng-model="form.confirmPassword"
                                                   validator="form.password === form.confirmPassword"
                                                   validate-on="dirty"
                                                   invalid-message="'Passwords do not match!'"
                                                   required>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <div align="center">
                                                <button type="submit" class="btn btn-primary">Submit</button>

                                                <button type="button" ng-click="myForm.reset()" class="btn btn-danger">
                                                    Reset
                                                </button>

                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                <!--<a href="/unlink/local" class="btn btn-default">Unlink</a>-->
                <% } else { %>
                <!--<a href="/connect/local" class="btn btn-default">Connect Local</a>-->
                <% } %>

            </div>
        </div>

    </div>
    <div class="row">
        <!-- FACEBOOK INFORMATION -->
        <div>
            <div class="well col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.userDetails.facebook) { %>
                <% if (user.userDetails.facebook.token) { %>
                <p>
                    <strong>ID</strong>: <%= user.userDetails.facebook.id %><br>
                    <% if (user.userDetails.facebook.uid) { %>
                    <strong>UID</strong>: <%= user.userDetails.facebook.uid %><br>
                    <% } %>
                    <strong>Name</strong>: <%= user.userDetails.facebook.name %><br>
                    <strong>Email</strong>: <%= user.userDetails.facebook.email %><br>
                    <strong>Token</strong>: <%= user.userDetails.facebook.token %><br>
                </p>
                <hr>
                <div align="center">
                    <a href="/unlink/facebook" class="btn btn-primary">Unlink</a></div>
                <% } else { %>
                <div align="center">
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a></div>
                <% } %>
                <% } else { %>
                <div align="center">
                    <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a></div>
                <% } %>

            </div>
        </div>
    </div>
    <div class="row">
        <!--LINKEDIN INFORMATION -->
        <div>
            <div class="well col-sm-12 col-md-6 col-md-offset-3 col-xs-12">
                <h3 class="text-info"><span class="fa fa-linkedin"></span> LinkedIn</h3>

                <% if (user.userDetails.linkedin) { %>
                <% if (user.userDetails.linkedin.token) { %>
                <p>
                    <strong>ID</strong>: <%= user.userDetails.linkedin.id %><br>
                    <strong>Display name</strong>: <%= user.userDetails.linkedin.name %><br>
                    <strong>Email</strong>: <%= user.userDetails.linkedin.email %><br>
                    <strong>Token</strong>: <%= user.userDetails.linkedin.token %><br>
                </p>
                <hr>
                <div align="center">
                    <a href="/unlink/linkedin" class="btn btn-info">Unlink</a></div>
                <% } else { %>
                <div align="center">
                    <a href="/connect/linkedin" class="btn btn-info">Connect LinkedIn</a></div>
                <% } %>

                <% } else { %>
                <div align="center">
                    <a href="/connect/linkedin" class="btn btn-info">Connect LinkedIn</a>
                    <% } %>
                </div>
            </div>
        </div>


    </div>

</div>

<% include ../partials/footer %>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="/scripts/angular-validator-app.js"></script>
<script src="/scripts/angular-validator.js"></script>

</body>
</html>
