<!doctype html>
<html>
<head>
    <title>sID Social Identity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/icons/logo.ico"/>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
</head>

<body style="padding-right:0px; padding-left:0px;">
<!-- Navigation -->
<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom:0" id="landingnavbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header"
             style="background-color: rgba(255,255,255,.15); color: rgba(255,255,255,.15); background: transparent; margin-top: 10px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">sID Social Identity</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#home"></a>
                </li>
                <!-- <li>
                <a class="page-scroll" href="#home" style="padding: 7px 20px;">Home</a>
                </li> -->
                <!--<li>-->
                <!--<a class="page-scroll" href="#platforms">Platforms</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="page-scroll" href="#progress">Progress</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a class="page-scroll" href="#contactus">Contact</a>-->
                <!--</li>-->
                <!-- <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign Out </a></li> -->
                <% if (user) { %>
                  <li style="margin-right: 20px; margin-top: 10px; ">
                      <a class="page-scroll" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sign Out </a>
                  </li>
                <% } else { %>
                  <li style="margin-right: 20px; margin-top: 10px; ">
                      <a class="page-scroll" href="/signup"><span class="glyphicon glyphicon-log-in"></span> Sign Up </a>
                  </li>
                  <li style="margin-right: 20px; margin-top: 10px; ">
                      <a class="page-scroll" href="/login"><span class="glyphicon glyphicon-log-in"></span> Sign In </a>
                  </li>
                <% } %>

            </ul>
            <div class="col-xs-12 col-sm-5 col-md-5 pull-left" style="margin-top: 10px;">
                <form class="navbar-form" role="search" action="/overview" method="post" id="sidusersearchform">
                    <div class="input-group" style="width: 100%;">
                        <input type="text" class="form-control" name="name" placeholder="Search sID" id="sidusersearch">

                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- <div id="sidusersearch">
                  <input class="typeahead" type="text" placeholder="Search sID">
                </div> -->
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading text-center" id="overallratingstitle">
              Overall Profile Rating for : <%= name %>
            </div>
            <div class="panel-body overall-rating-container">
              <div class="col-xs-12 col-sm-6 overall-rating-panel-super">
                <div class="panel panel-default overall-rating-panel">
                  <div class="panel-heading text-center">
                    <h3><span class="fa fa-facebook"></span> Facebook</h3>
                    </div>
                    <div class="panel-body">
                      <div id="donut-facebook" style="height: 250px;"></div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-6 overall-rating-panel-super">
                  <div class="panel panel-default overall-rating-panel">
                      <div class="panel-heading text-center">
                          <h3><span class="fa fa-linkedin"></span> LinkedIn</h3>
                      </div>
                      <div class="panel-body">
                          <div id="donut-linkedin" style="height: 250px;"></div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
</div>
<script type="text/javascript">

    var facebookTempData = <%-JSON.stringify(facebook)%>;

    var linkedinTempData = <%-JSON.stringify(linkedin)%>;

    if (facebookTempData.length > 0 && linkedinTempData.length > 0) {
        if (facebookTempData[0].value == 0 && facebookTempData[1].value == 0 && facebookTempData[2].value == 0) {
            var $content = $('#donut-facebook');
            $content.replaceWith("<div class='text-center'> Sorry! No facebook rating data is available for <%= name %>.</div>");
        } else {
            Morris.Donut({
                element: 'donut-facebook',
                data: facebookTempData,
                colors: [
                    '#33cc33',
                    '#ff0000',
                    '#ffff00'
                ]
            });
        }

        if (linkedinTempData[0].value == 0 && linkedinTempData[1].value == 0 && linkedinTempData[2].value == 0) {
            var $content = $('#donut-linkedin');
            $content.replaceWith("<div class='text-center'> Sorry! No LinkedIn rating data is available for <%= name %>.</div>");
        } else {
            Morris.Donut({
                element: 'donut-linkedin',
                data: linkedinTempData,
                colors: [
                    '#33cc33',
                    '#ff0000',
                    '#ffff00'
                ]
            });
        }

    } else {
        var $content = $('#overallratingstitle');
        $content.replaceWith("<div class='text-center'> <h3>Sorry! No Facebook rating data is available for <%= name %>.</h3></div>");
    }

</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="/scripts/angular-validator-app.js"></script>
<script src="/scripts/angular-validator.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="scripts/bloodhound.js"></script>
<script type="text/javascript" src="scripts/search.js"></script>
</body>
</html>
